<div class="sponsor-container first">
 <%= link_to '//icanhas.cheezburger.com/' do %>
   <%= image_tag '/images/logo-ichc.png', :class => 'sponsor-logo', :alt => 'I Can Has Cheez Burger Logo' %>
 <% end %>
</div>
<div class="sponsor-container second">
 <%= link_to '//www.adoptapet.com/' do %>
   <%= image_tag '/images/logo-aap.png', :class => 'sponsor-logo', :alt => 'Adopt a Pet Logo' %>
 <% end %>
</div>
<div class="sponsor-container third">
 <%= link_to '//bestfriends.org/' do %>
   <%= image_tag '/images/logo-bf.png', :class => 'sponsor-logo', :alt => 'Best Friends Animal Society Logo' %>
 <% end %>
</div>
