<%= simple_form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :start_date, order: [:month, :day, :year] %>
  <%= f.input :end_date, order: [:month, :day, :year] %>
  <%= f.input :path %>
  <%= f.input :lead %>
  <%= f.input :lead_email %>
  <%= f.input :developers %>
  <%= f.input :mailchimp %>
  <%= f.input :email_signup, as: 'string', label: "Mandrill Email (Signup)" %>
  <%= f.input :email_submit, as: 'string', label: "Mandrill Email (Submit)" %>
  <%= f.input :mobile_commons %>
  <%= f.input :description %>
  <%= f.input :image, required: false %>
  <%= f.input :meme %>
  <%= f.input :meme_header %>
  <%= f.input :facebook, label: 'Facebook share type', as: 'select', collection: { 'Post on my own wall' => 'mine', "Post on my friends' walls" => 'friends' }, default: 'mine' %>
  <%= f.input :gated, as: 'select', default: '', collection: { 'No gate' => '', 'Gate entire campaign' => 'all', "Gate only submit" => 'submit' } %>
  <%= f.input :paged_form, label: 'Form is multiple pages long.' %>
  <%= f.input :has_school_field, label: 'Has Great Schools autocomplete field' %>
  <%= f.input :stat_frequency, label: 'How often should stats appear in the list?' %>
  <%= f.submit %>

<% end %>
