<div data-id="<%= @post.id %>" class="post id-<%= @post.id %><%= @post.promoted ? ' promoted' : '' %>">
  <div class="flag-container"></div>
  <% if @post.promoted %><div class="promoted-container"><%= link_to 'promoted', '/featured', :class => 'promoted-badge'  %></div><% end %>
  <div class="image-container"><%= image_tag 'blank.gif', 'data-original' => @post.image(:gallery), :alt => @post.name + ' from ' + @post.state, :class => 'lazy' %></div>
  <div class="name-loc"><%= link_to show_post_path(@post, :campaign_path => params[:campaign_path]) do %><span class="name"><%= @post.name %></span><% end %></div>
  <div class="story"><%=raw simple_format(@post.story).gsub(/(\r|\n|\r\n)/, '') %></div>
  <% if @post.school || @post.custom_school %><div class="school"><%= (@post.school ? @post.school.title + ', ' + @post.school.state : @post.custom_school + ', ' + @post.state) %></div><% end %>
  <div class="votes">
    <a href="#" class="thumbs-up shared" data-type="up"><span class="thumb-icon"></span><%= @post.thumbs_up_count %> EAT IT</a>
    <a href="#" class="thumbs-down shared" data-type="down"><span class="thumb-icon"></span><%= @post.thumbs_down_count %> TOSS IT</a>
  </div>
</div>
