<% unless @posts.empty? %>
  <script>
  <!--
    var latest = <%= @posts.last.id || 0 %>;
    var count = 200;
    var seen = <%=raw @shown_stats.to_json %>;
    var post_ids = <%= @posts.map(&:id).to_json %>;
  -->
  </script>
<% end %>

<section class="posts">
  <div class="section-container">
    <h2>Thanks to you, we saw _____ lunch pics!</h2>
    <p>_____ school districts participated to be compiled in our report of the true state of school lunch.</p>
    <div class="post-list">
      <% if @posts.length > 0 %>
        <%=raw render('post').gsub(/\n/, '') %>
        <% unless params[:page] && params[:page].to_i > 1 %><div class="inview"></div><% end %>
      <% else %>
        <%= render 'not_found' %>
      <% end %>
    </div>

    <div id="pagination">
      <span id="next-page-link"><%= link_to(raw("Next Page &raquo;"), page_path(campaign_path: 'fedup', page: ((params[:page] ? params[:page].to_i : 1) + 1)), id: 'next-page') %></span>
      <span id="prev-page-link"><% if (params[:page] && params[:page].to_i > 1 && !params[:page].nil?) %><%= link_to(raw("&laquo; Previous Page"), page_path(campaign_path: 'fedup', page: ((params[:page] ? params[:page].to_i : 1) - 1)), id: 'prev-page') %><% end %></span>
    </div>
  </div>
</section>
