<% unless @posts.empty? %>
  <script>
  <!--
    var latest = <%= @posts.last.id || 0 %>;
    var count = 200;
    var seen = <%=raw @shown_stats.to_json %>;
    var post_ids = <%= @posts.map(&:id).to_json %>;
  -->
  </script>
<% end %>

<section class="posts">
  <div class="section-container">
    <h2>Thanks to you, we saw 7,025 lunches!</h2>

    <ul>
      <li>71% of students who reported their schools serve unhealthy lunches were not satisfied with their lunches</li><br>
      <li>There is no major cost difference between nutritious and not nutritious food at schools: 55% of student being served very healthy food report their lunch costing under $2, compared to 55% of students being served food with no nutritional value</li><br>
      <li>Check out lunches voted TOSS IT by state:</li><br>
    </ul>

    <a target="_new" href="http://www.dosomething.org/files/campaigns/fedup/toss-it-map.jpg"><img style="width:100%;" src="http://www.dosomething.org/files/campaigns/fedup/toss-it-map.jpg" alt="The United States of 'Toss It'"/></a>

    <p>25,132 people participated in our report of the true state of school lunch. The report will be out soon!</p>

    <div class="post-list">
      <% if @posts.length > 0 %>
        <%=raw render('post').gsub(/\n/, '') %>
        <% unless params[:page] && params[:page].to_i > 1 %><div class="inview"></div><% end %>
      <% else %>
        <%= render 'not_found' %>
      <% end %>
    </div>

    <div id="pagination">
      <span id="next-page-link"><%= link_to(raw("Next Page &raquo;"), page_path(campaign_path: 'fedup', page: ((params[:page] ? params[:page].to_i : 1) + 1)), id: 'next-page') %></span>
      <span id="prev-page-link"><% if (params[:page] && params[:page].to_i > 1 && !params[:page].nil?) %><%= link_to(raw("&laquo; Previous Page"), page_path(campaign_path: 'fedup', page: ((params[:page] ? params[:page].to_i : 1) - 1)), id: 'prev-page') %><% end %></span>
    </div>
  </div>
</section>
